.step {
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;
}

.evidence {
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;
}


